body {
    background-image: url(../images/shley-tree-2.png);
    background-color: rgb(76, 94, 113);
    color: white;
}

div {
    box-sizing: border-box;
    margin: 0;

}
button {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: none;
    padding: none;
    color: black;
}

.hide {
    display:none;
}
.container {
    text-align: center;

}

.board {
    height: 450px;
    width: 450px;
//hack to get rid of the space between the divs since they are inline-block elements
    font-size: 0;
    margin: auto;
}
.row {
    width: 550px;
    height: 150px;
    display: flex;
}
.space {
    width: 150px;
    height: 150px;
    background-color: rgb(136, 143, 157);
    border: black solid 2px;
    border-radius: 20%;
    display: inline-block;
    font-size: 30px;
    color: white;
    text-shadow: 0 1px 0 #ccc,
             0 -2px 0 #c9c9c9,
             0 -3px 0 #bbb,
             0 -4px 0 #b9b9b9,
             0 -5px 0 #aaa,
             0 -6px 1px rgba(0,0,0,.1),
             0 0 5px rgba(0,0,0,.1),
             0 -1px 3px rgba(0,0,0,.3),
             0 -3px 5px rgba(0,0,0,.2),
             0 -5px 10px rgba(0,0,0,.25),
             0 -10px 10px rgba(0,0,0,.2),
             0 -20px 10px rgba(0,0,0,.15);

}



/*box shadows*/
.zero {
    box-shadow: -8px -4px 4px rgba(34, 39, 45, .50), inset 0px 0px 6px rgba(34, 39, 45, .50);
}
.zero:hover {
    box-shadow: -6px -2px 5px rgba(34, 39, 45, .50), inset 0px 0px 15px rgba(34, 39, 45, .50);

}
.zero:active {
    box-shadow: -4px -1px 1px rgba(34, 39, 45, .50);
}

.one {
    box-shadow: 0px -6px 4px rgba(34, 39, 45, .50), inset 0px 0px 6px rgba(34, 39, 45, .50);
}
.one:hover {
    box-shadow: 0px -4px 2px rgba(34, 39, 45, .50), inset 0px 0px 15px rgba(34, 39, 45, .50);
}
.one:active {
    box-shadow: 0px -2px 1px rgba(34, 39, 45, .50);
}

.two {
    box-shadow: 8px -4px 4px rgba(34, 39, 45, .50), inset 0px 0px 6px rgba(34, 39, 45, .50);
}
.two:hover {
    box-shadow: 6px -2px 2px rgba(34, 39, 45, .50), inset 0px 0px 15px rgba(34, 39, 45, .50);
}
.two:active {
    box-shadow: 4px -1px 1px rgba(34, 39, 45, .50);
}

.three {
    box-shadow:  -8px 0px 4px rgba(34, 39, 45, .50), inset 0px 0px 6px rgba(34, 39, 45, .50);
}
.three:hover {
    box-shadow:  -6px 0px 2px rgba(34, 39, 45, .50), inset 0px 0px 15px rgba(34, 39, 45, .50);
}
.three:active {
    box-shadow:  -4px 0px 1px rgba(34, 39, 45, .50);
}

.four {
    box-shadow:  inset 0px 0px 6px rgba(34, 39, 45, .50);
}
.four:hover {
    box-shadow:  inset 0px 0px 15px rgba(34, 39, 45, .50), inset 0px 0px 15px rgba(34, 39, 45, .50);
}
.four:active {
    box-shadow:  inset 0px 0px 20px rgba(34, 39, 45, .50);
}

.five {
    box-shadow: 8px 0px 4px rgba(34, 39, 45, .50), inset 0px 0px 6px rgba(34, 39, 45, .50);
}
.five:hover {
    box-shadow: 6px 0px 2px rgba(34, 39, 45, .50), inset 0px 0px 15px rgba(34, 39, 45, .50);
}
.five:active {
    box-shadow: 4px 0px 1px rgba(34, 39, 45, .50);
}

.six {
    box-shadow:  -8px 4px 4px rgba(34, 39, 45, .50), inset 0px 0px 6px rgba(34, 39, 45, .50);
}
.six:hover {
    box-shadow:  -6px 2px 2px rgba(34, 39, 45, .50), inset 0px 0px 15px rgba(34, 39, 45, .50);
}
.six:active {
    box-shadow:  -4px 1px 1px rgba(34, 39, 45, .50);
}

.seven {
    box-shadow:  0px 6px 4px rgba(34, 39, 45, .50), inset 0px 0px 6px rgba(34, 39, 45, .50);
}
.seven:hover {
    box-shadow:  0px 4px 2px rgba(34, 39, 45, .50), inset 0px 0px 15px rgba(34, 39, 45, .50);
}
.seven:active {
    box-shadow:  0px 2px 1px rgba(34, 39, 45, .50);
}

.eight {
    box-shadow:  8px 6px 4px rgba(34, 39, 45, .50), inset 0px 0px 6px rgba(34, 39, 45, .50);
}
.eight:hover {
    box-shadow:  6px 4px 2px rgba(34, 39, 45, .50), inset 0px 0px 15px rgba(34, 39, 45, .50);
}
.eight:active {
    box-shadow:  6px 2px 1px rgba(34, 39, 45, .50);
}

/*************************************
*  Button circle animation
*/


.clicker{
  background-color: white;
  outline: none;
  font-weight: 600;
    position:absolute;
  cursor: pointer;
  padding: 0;
    border: none;
    height: 64px;
    width: 64px;
  left: 8px;
  top: 8px;
    border-radius: 100px;
    z-index: 2;
}

.clicker:active{
    transform: translate(0, 1px);
    height: 63px;
    box-shadow: 0px 1px 0 0 rgb(190,190,190) inset;
}

.circle{
    position: relative;
    border-radius:40px;
    width: 80px;
    height: 80px;
    z-index: 1;
}

.clicker + .circle, .clicker:active + .circle {
    animation: rotator linear .68s infinite;
}

.clicker:active + .circle {
    animation: rotator linear .68s;
}

@keyframes rotator{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}


.angled {
      background-image: linear-gradient(45deg,
                white 0%,
                white 30%,
                rgb(20,190,235) 30%,
                rgb(20,190,235) 70%,
                white 70%,
                white 100%);
}

.wrap{
  position: relative;
  width: 80px;
  height: 80px;
  margin: 10px auto 15px auto;
}
